.text-divider {
    display: flex;
    align-items: center;
    --text-divider-gap: 1rem; 
}

.text-divider::before,
.text-divider::after {
    content: '';
    height: 1px;
    background-color: silver;
    flex-grow: 1;
}

.text-divider::before {
    margin-right: var(--text-divider-gap);
}

.text-divider::after {
    margin-left: var(--text-divider-gap);
}

@media screen and (max-width: 768px) {
    .row {
        display:inline-block;
    width:200%;
    }
    #signal {
        width:100%;
    }
    #reconstructed {
        width:100%;
    }
}
