<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
        integrity="sha512-t4GWSVZO1eC8BM339Xd7Uphw5s17a86tIZIj8qRxhnKub6WoyhnrxeCIMeAqBPgdZGlCcG2PrZjMc+Wr78+5Xg=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"
        integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/plotly-2.18.2.min.js" charset="utf-8"></script>
    <title>Sampling Theory Studio</title>
</head>
<body>
    <div class="d-flex flex-row flex-wrap">
        <div class="w-25 bg-secondary bg-gradient bg-opacity-10 " style="height: 100vh;">
            <div class="mb-2 px-3 mt-2">
                <label for="formFile" class="form-label h5">Upload Signal</label>
                <input class="form-control" type="file" id="signaluploadfile">
            </div>
            <div class="text-divider">OR</div>
            <h5 class="px-3 ">Signal composer</h5>
            <div class="input-group mb-2 px-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Frequency (Hz)</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" id="frequency">
            </div>
            <div class="input-group mb-2 px-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Amplitude (mV)</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" id="amplitude">
            </div>
            <div class="d-grid gap-1 col-6 mx-auto ">
                <button type="button" class="btn btn-primary" id="addsignalcomposer">Add Signal</button>
                <button type="button" id="saveButton" class="btn btn-primary">Save Signal Data</button>
            </div>
            <hr>
            <div class="input-group mb-2 px-3">
                <span class="input-group-text" id="inputGroup-sizing-default">Sampling Frequency (Hz)</span>
                <input type="number" class="form-control" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default" id="sampling-rate-input">
            </div>
            <!-- <div class="px-3">
                <h4>Normalized</h4>
                <input type="range" name="normalizedValue" id="normalizedValue" min="0" max="4" class="w-100"
                    step="0.01" value="0">
                <div>value:<span id="normalizedValueDisplay">0</span></div>
            </div> -->
            <div class="px-3">
                <h5>Actual Frequency</h5>
                <input type="range" name="freqValue" id="freqValue" class="w-100" step="1" value="0">
                <div>value:<span id="freqValueDisplay">0</span></div>
            </div>
            <div class="px-3">
                <h5>SNR</h5>
                <input type="range" name="noise" id="noise" min="0" max="200" class="w-100 " step="1" value="0">
                <div>value:<span id="noisevalue">0</span></div>
            </div>
            <hr>
            <div class="px-3">
                <h5>Components</h5>
                <select class="form-select" aria-label="Default select example" id="components">
                    <option selected disabled>Open this select menu</option>
                </select>
                <div class="d-grid gap-1 col-6 mx-auto mt-2">
                    <button type="button" class="btn btn-primary" id="removecomponent">Remove Component</button>
                    <button type="button" class="btn btn-primary" id="cleargraph">Clear Graph</button>
                </div>
            </div>
        </div>
        <div class="px-4 w-75 mt-4">
            <h3 class="m-0">Sampling Theory Studio</h3>
            <div class="d-flex flex-column">
                <div class="row">
                    <div id="signal" class="d-flex flex-wrap w-50" style="height:330px ;"></div>
                    <div id="reconstructed" class="d-flex flex-wrap w-50" style="height:330px ;"></div>
                </div>
                <div id="difference" class="d-flex flex-wrap w-100" style="height:330px ;"></div>
            </div>
        </div>
    </div>
    <script src="/static/app.js"></script>
</body>

</html>